.day {
  border: 2px solid rgb(215, 95, 14);
  margin: 1rem;
  padding: 1rem;
}

.title {
  font-size: 30px;
  margin-bottom: 20px;
  color: rgb(222, 222, 222);
  font-weight: bold;
  text-shadow: 4px 4px 7px rgba(215, 94, 14, 0.526), -5px -2px 7px rgba(187, 187, 187, 0.477);
}

.location-input-menu {
    padding: 10px;
}

.input {
    margin-right: 6px;
    margin-left: 6px;
    padding: 2px;
    background-color: rgb(215, 95, 14);
    color: rgb(222, 222, 222);
}

.check-btn {
    padding: 2px;
   background-color: rgb(215, 95, 14) ;
   color: rgb(222, 222, 222);
}

.weather-for {
    margin-bottom: 40px;
}